/* flex box container */
.app__container {
  display: flex;
  align-items: center;
  height: 100vh;
  z-index: 0;
}

.app_review__component {
  display: grid;
  row-gap: 5vh;
  column-gap: 5px;
  height: 90vh;
  width: 99vw;
  justify-content: center;
  overflow-x: hidden;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  justify-items: center;
  overflow-x: hidden;
  z-index: 2;
  padding: 20px;
}

.avatar_component {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: #020000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.avatar_component img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);

}
.avatar_component img:hover {
  transform: translateY(0) scale(1.3);
}

.review {
  max-height: 350px;
  width: 300px;
  border-radius: 20px;
  display: grid;
  padding: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  z-index: 5;
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review:hover {
  transform: translateY(0) scale(1.1);
}
.name_and_logo {
  padding: 10px;
}
.name_and_logo img {
  height: 40px;
  margin-bottom: 5px;
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.name_and_logo img:hover {
  transform: translateY(0) scale(1.2);
}
.review__component_name_and_avatar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.review__concent {
  text-align: justify;
  padding: 10px;
  line-height: 30px;
  overflow-x: hidden;
  width: 96%;
}
